<ion-header>

  <ion-navbar color='primary'>
      <ion-title>Editar tarefas</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="applyChanges()">
          Atualizar
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>

      <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">

        <ion-item text-wrap *ngFor='let t of tasks;'>
          <h2 [ngClass]="{'done':t.done}">
<!--               <button *ngIf="!t.done" ion-button outline  (click)="delete(t)">
                <ion-icon name="trash"></ion-icon>
              </button> -->
              <ion-icon *ngIf="t.done" color="secondary" name="checkmark"></ion-icon>
              {{t.description}}
          </h2>
        </ion-item>

      </ion-item-group>

    </ion-list>
</ion-content>
