<ion-content padding>
  <h3 text-center>{{day}}/{{month}}</h3>
  <hr>
  <ul class='nsb-list'>
    <li *ngFor='let t of tasks;'
        (press)="delete(t)"
        (tap)="toggleDone(t)">
      <span *ngIf="t.done"><s>{{t.description}}</s></span>
      <span *ngIf="!t.done">{{t.description}}</span>
    </li>
  </ul>
  <div class="nsb-button" (click)="toggleAddTask()">
    <span [hidden]="show_add_task">+</span>
    <span [hidden]="!show_add_task">&times;</span>
  </div>
  <div [hidden]="!show_add_task" *ngIf="new_task">
    <hr>
    <ion-list>
      <ion-item>
        <ion-textarea [(ngModel)]="new_task.description" placeholder="New cool stuff to do"></ion-textarea>
      </ion-item>
    </ion-list>
    <button color='secondary' ion-button block (click)="add_task()" [disabled]="!new_task.description">
      add
    </button>
  </div>
</ion-content>
