page-home {
	.nsb-list li {
		height: 3em;
		line-height: 3em;
		margin-top: 4px;
	}
	.nsb-list li:active {
		background: #f8f8f8;
	}
	.nsb-button {
		border-radius: 60px;
		text-align: center;
		font-size: 2em;
		width: 60px;
		height: 60px;
		line-height: 60px;
		margin: 0 auto;
	}
	.nsb-button:active {
		background: #f8f8f8;
	}
	.set-done {
		text-decoration: line-through;
		opacity: 0.6;
	}
}